[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jinja2 = "*"
boto3 = "*"
python-dotenv = "*"

[dev-packages]
mypy = "*"
pre-commit = "*"
boto3-stubs = {extras = ["lambda", "cloudformation", "connect"], version = "*"}
lambda-packager = "*"
ruff = "*"

[requires]
python_version = "3.10"
